<article class="post">
    <div class="title">
        <a href="/project/{{id}}">{{name}}</a>
    </div>
    <div class="body">
        {{!-- insert project drawing when created --}}
        {{description}}
    </div>
    <div class="meta">
        <strong>Posted by {{user.username}} on {{date_created}}</strong>
    </div>
</article>